## build system files
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
elixir_uuid-*.tar
/tmp

## Benchmark results files
bench/snapshots/

## generic files
*~
*.DS_Store
*.swp
*.out
Icon?
Thumbs.db
